body{
    overflow-y:hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.title {
    font-size: 5em;
    background: -webkit-linear-gradient(rgb(255, 255, 255),rgb(225, 212, 236));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.container span{
    font-size: 3rem;
    color: white;
    font-weight: 600;
    text-shadow: 2px 2px #bf8bf0;
  }